@media only screen and (max-width : 2560px)  { 
  .card{
    width: 21em;
    position: fixed;
    margin-top: 10%;
    margin-right: 10%;
    align-items: center;
    background-color: aliceblue !important;
  }
}

@media only screen and (max-width : 768px)  { 
  .card{
    width: 19em;
    position: fixed;
    margin-top: 10%;
    margin-right: 10%;
    align-items: center;
    background-color: aliceblue !important;
  }
}
@media only screen and (max-width : 320px)  { 
  .card{
    width: 17em;
    position: fixed;
    margin-top: 10%;
    margin-right: 10%;
    align-items: center;
    background-color: aliceblue !important;
  }
}
  .container{
    display:flex;
    justify-content: center;
    flex-direction: column-reverse;
  min-height: 60px;
    background: #fffdfd;
  position: absolute;
  left: 30%;
  margin-left: -185px;
  top: 50%;
  margin-top: -255px;
    font-size: 1.5em;
  }
  .line{
    margin-left: 12px;
    
  }
 